<nav class="main-menu">
  <!-- Logo vlevo -->
  <div class="logo">
    <img src="assets/voxwhitelogo.png" alt="Vox Novus Logo" />
  </div>

  <!-- Navigace -->
  <ul [class.active]="menuOpen">
    <li><a routerLink="/dashboard">ÚVOD</a></li>
    <li><a routerLink="/adresar">ADRESÁŘ</a></li>
    <li><a routerLink="/koncerty">KONCERTY</a></li>
    <li><a routerLink="/ucast">ÚČAST</a></li>
    <li><a routerLink="/repertoar">REPERTOÁR</a></li>
    <li><a routerLink="/nahravky">NAHRÁVKY</a></li>
    <li><a (click)="onLogout()" style="cursor: pointer">ODHLÁSIT</a></li>
  </ul>

  <!-- Přepínač menu pro mobily -->
  <button class="menu-toggle" (click)="toggleMenu()">☰</button>
</nav>
